{% extends 'vetbekje/base.html' %}
{% load apptags %}
{% block title %} Vetbekje {% endblock %}

{% block body %}

<section id="Battles">
    {% include 'picnic/message-template.html' %}
    <div class="col col-xs-12 col-md-12 col-lg-12">
        <div class="container-fluid">
            <h3 class="list-title"> Wie heeft er een vet bekje? </h3>
            <div class="container-fluid spacious">
                <div class="row">
                    {% include 'vetbekje/selector_item.html' %}
                </div>
            </div>
        </div>
    </div>
</section>

<section id="Pool">
    <div class="col col-xs-12 col-md-12 col-lg-12">
        <div class="container-fluid">
            <h3 class="list-title"> Of maak een nieuwe poll</h3>
            <div class="container-fluid spacious">
                <div class="row">
                    <a href="{% url 'vetbekje:pool-new' %}"><button  type="submit" class="btn btn-xlarge">Ja leuk</button></a>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="col col-xs-12" style="height:50px;"></div>

<section id="Geschillen">
    <div class="col col-xs-12 col-md-6 col-lg-6">
        <div class="container-fluid">
            <h3 class="list-title"> Openstaande geschillen </h3>
            <div class="row">
            {% for battle in battle_list %}
                {% include 'vetbekje/battle_thumbnail.html' %}
            {% endfor %}
            {% for pool in pool_list %}
                {% include 'vetbekje/pool_thumbnail.html' %}
            {% endfor %}
            </div>
        </div>
    </div>
    <div class="col col-xs-12 col-md-6">
        <div class="well list-panel">
            <h2 class="list-title"> Leaderboard </h2>
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col" class="col-xs-9">
                                Profiel
                            </th>
                            <th scope="col" class="col-xs-3">
                                +/-
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for profile in profiles %}
                        <tr>

                            <td scope="row">
                                <p class="tab">{{profile.user.first_name}}</p>
                            </td>
                            <td>
                                <p class="tab">{{ scores|at_index:forloop.counter0}}</p>
                            </td>

                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>

{% endblock %}